@use "_Commons" as com;

*{
    margin: 0;
    padding: 0;
}

.container1{
    display: grid;
    grid-template-columns: repeat(5fr);

}

.carrito{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: carrito;
    justify-content: center;
    align-items: center;
    background-color: map-get(com.$Colores,"Blanco");
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    min-height: 100px;

    h1{
        font-family: map-get(com.$Fuentes,"Titulos");
        
    }
    .producto{
        display: flex;
        width: 80%;
        margin-top: 10px;
        display: grid;
        grid-template-areas: "card-img-top card-body";
        grid-template-columns: 35% 60%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px map-get(com.$Colores,"Sombras");
        .card-img-top{
            max-width: 200px;
            grid-area: card-img-top;
            border-right: 1px solid map-get(com.$Colores,"GrisClaro");
            padding-right: 10px;
            justify-content: flex-start;
        }
        .card-body{
            grid-area: card-body;
            display: block;
            
        }
        .card-title{
            margin: 2px;
            

        }
        .card-text{
            margin: 0px;
        }
        .cantidad{
            border-radius: 10px;
            padding-bottom: 2px;
            margin-bottom: 10px;
            border: 1px solid map-get(com.$Colores,"GrisClaro");
            height: 40px;
            width: 80px;
            text-align: center;

        }
        .preciosFinales{
            display: block;
            text-align: end;
        }
    }
    

}
.contenedor_carrito{
    display: grid;
    grid-template-areas: 
    ". . carrito . ."
    ". . compra . . ";
}
.compra{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    grid-area: compra;
}

#confirmarCompra{
    width: 40vw;
    border-radius: 10px;
    margin: 20px;
}

.contenedor_login{
    display: grid;
    grid-template-areas: ". . login login . .";
    margin: 5%;
}

#loginBody{
    background: linear-gradient(map-get(com.$Colores, "Negro") 0%, map-get(com.$Colores, "RojoOscuro") 50%, map-get(com.$Colores, "RojoClaro") 80%);
}

.login{
    h1, p{
        color: map-get(com.$Colores, "Blanco");
    }
    hr{
        align-self: center;
        background-color: map-get(com.$Colores, "Gris");
        height: 1px;
        width: 80%;
        border: none;
        margin: 5px;
    }
    grid-area: login;
    background-color: map-get(com.$Colores, "NegroTransparente2");
    backdrop-filter: blur(8px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.form-control{
    outline: none;
    width: 60%;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: map-get(com.$Colores, "Blanco");
    border-color: map-get(com.$Colores, "Blanco");
    padding: 0.9rem 0.9rem 0.9rem ; 
    border-radius: 10px;
    border-width: 0.5px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    
    padding-left: auto;
    margin: 10px;
    
}

.logs{
    all: unset;
    cursor: pointer;
    width: 44px;
    border-color: map-get(com.$Colores, "Blanco");
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    i{
        color: map-get(com.$Colores, "Blanco");
        font-size: 30px;
    }
}
#tituloLogin{
    font-family: map-get(com.$Fuentes,"Titulos");
    letter-spacing: 2px;
}
h1,h2, h3, p{
    font-family: map-get(com.$Fuentes,"Informacion");
    
}

body{
    background: linear-gradient(black 0%, white 25%);
    
}
header{
    display: grid;
    grid-column: 1/5;
    background-color: (map-get(com.$Colores,"NegroTransparente"));
    backdrop-filter: blur(8px);
    color: (map-get(com.$Colores,"Blanco"));
    position: sticky;
    z-index: 10;
    top: -5px; 
}
main{
    display: grid;
    grid-column: 1/5;
}

footer{
    background-color: (map-get(com.$Colores,"Negro"));
    color: (map-get(com.$Colores,"Blanco"));
    padding-right: 15px;
    font-weight: 300;

}

footer{ 
    .ico{
        padding-top: 40px;
        grid-area: iconos;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        grid-template-rows: repeat(3,1fr);
        margin-right: auto;
        margin-left: 15px;
    }
}

footer { 
    .info{
        padding-top: 20px;
        grid-area: info;
        margin-top: 20px;
        padding-right: 2px;
        .informacion{
            padding-top: 10px;
        }
    }
}

.main--2{ 
    .filtro{
        padding-left: 10px;
        display:block;
        grid-area: filtro;
        background-color: (map-get(com.$Colores,"Negro"));
        color:(map-get(com.$Colores,"Blanco"));
        font-family: map-get(com.$Fuentes,"Titulos");
    }
}



.card{
    border: 2px solid (map-get(com.$Colores,"Blanco"));
    border-radius: 5px;
    width: auto;
    height: auto;
    color:(map-get(com.$Colores,"Negro"));
    text-decoration: none;
}


#head{
    display: flex;
    
    }
    
    #head input{
        margin-left: auto;
        resize: horizontal;
        width: 200px;
        height: 30px;
    }
    #user__header{
        color: (map-get(com.$Colores,"Blanco"));
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        cursor: pointer;
        margin-top: 40px;
        margin-left: auto;
        margin-right: 25px;
        margin-bottom: 20px;
        gap: 10px;

        i{
            height: 20px;
        }
    }
    #user__header > i{
        font-size: 1.2em;
        text-transform: uppercase;
        color: (map-get(com.$Colores,"GrisClaro"));
    }
    
    .dropbtn, #botonLogueo, #botonRegistro, #confirmarCompra {
        background-color: (map-get(com.$Colores,"RojoClaroBotones"));
        color: (map-get(com.$Colores,"Blanco"));
        padding: 16px;
        font-size: (map-get(com.$TamanosFuente,"Grande")-2px);
        font-weight: 500;
        border: none;
        font-family: map-get(com.$Fuentes,"Titulos");
        letter-spacing: 2px;
    }
    
    #botonLogueo, #botonRegistro{
        background-color: map-get(com.$Colores, "Negro");
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
        
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: map-get(com.$Colores, "NegroTransparente");
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px map-get(com.$Colores,"Sombras");
        z-index: 1;
        li{
            list-style-type: none;
        }
    }
        
    .dropdown-content a {
        color: map-get(com.$Colores, "Blanco");
        padding: (map-get(com.$TamanosFuente,"Pequena")) (map-get(com.$TamanosFuente,"Pequena") + 14px);
        text-decoration: none;
        display: block;
        font-family: map-get(com.$Fuentes,"Titulos");
        font-weight: 500;
    }

    .separador{
        @include com.Titulos; 
        color: (map-get(com.$Colores,"Blanco"));
        font-weight: 500;
        list-style: none;
        text-align: center;
        text-decoration: none;
        display: block;
        background-color: (map-get(com.$Colores,"Negro"));
        font-size:larger !important;
        
    }
    .link{
        @extend .separador;
        letter-spacing: 0,5px;
        color: (map-get(com.$Colores,"GrisClaro"));
        background-color: rgba(255, 255, 255, 0);
    }
    .informacion{
        font-family: map-get(com.$Fuentes,"Informacion");
        text-align: right;
    
    }
    .logo_nombre{
        display: flex;
        justify-content: flex-start;
        width: auto;
        height: auto;
        margin: 20px 0px 20px 0px;
        max-width: 300px;
    }

    #MenuHorizontal{
        margin-right: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
    }
    #MenuHorizontal >ul >li{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        margin-right: 10px;
        letter-spacing: 2px;
    }
    
    form {
        background-color: (map-get(com.$Colores,"Blanco"));
        width: 450px;
        height: 44px;
        border-radius: 5px;
        display: none;
        flex-direction: row;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    
    }
    
    form input {
        all: unset;
        font: 16px system-ui;
        color: (map-get(com.$Colores,"GrisOscuro"));
        height: 100%;
        width: 100%;
        padding: 6px 10px;
    }

    form button {
        all: unset;
        cursor: pointer;
        width: 44px;
        height: 44px;
    }
    
    svg {
        color: (map-get(com.$Colores,"GrisOscuro"));
        fill: currentColor;
        width: 44px;
        height: 44px;
        padding: 10px;
    }

.producto--data{
    margin-left: 500px;
}
.producto--data h1{
    font-size:xx-large;
}
.producto--data h2{
    font-size:x-large;
}

#blackcarousel > #carouselExampleCaptions > .carousel-inner{
    background-color: (map-get(com.$Colores,"Negro"));
    }
#blackcarousel > #carouselExampleCaptions > .carousel-inner img{
    opacity: 40%;
}

#menuBusqueda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 4px 5px (map-get(com.$Colores,"Negro"));
}


a i{
        text-decoration: none;
    }


body {
  background: linear-gradient(map-get(com.$Colores,"Negro") 0%, map-get(com.$Colores,"RojoClaro") 10%, map-get(com.$Colores,"Blanco") 40%);
}


.container2 {
    padding: 0 15px;
    margin: 0 auto;
  }

  .cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 80%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    max-width: 400px;
  }

  .card > a:link{
    color: (map-get(com.$Colores,"Negro"));
  }

  .card:hover > a:link{
    color: (map-get(com.$Colores,"Blanco"));
  }

  .card > a > .btn{
        z-index: 3; 
        position: absolute;
        transform: translate(-125%, 600%);

}

#titulo-pub{
    font-family: map-get(com.$Fuentes,"Titulos");
}

#error{
    font-family: map-get(com.$Fuentes,"Informacion");
    color: (map-get(com.$Colores,"Rojo"));
    margin-bottom: 5px;
    
}

.formularioRegistro > hr{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
.formularioRegistro{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
#contrasenaInputForm, #nombreInputForm, #ciudadInputForm, #direccionInputForm{
    display: flex;
    flex-direction: row;
    gap: 5px
}
