@use "_Commons" as com;


a:link{
    text-decoration: none;
}

.card:hover{
    background: -webkit-linear-gradient(45deg, map-get(com.$Colores,"Negro"), map-get(com.$Colores,"Rojo"));
    transform: translateY(-7px);
    color:(map-get(com.$Colores,"Blanco"));
    transition: 0.5s;
}

.productos--filtro > .producto--img-f:hover{
    background-color: (map-get(com.$Colores,"Rojo"));
    padding-bottom: 3px;
    
    
}

    
.dropdown-content a:hover {
    background-color: map-get(com.$Colores, "Negro");
    transform:scale(1.2);
    transition: 0.3s;
}
    
.dropdown:hover .dropdown-content {display: block;}
    
.dropdown:hover, .dropbtn:hover, #botonLogueo:hover, #botonRegistro:hover{
    background-color: (map-get(com.$Colores,"RojoSombra"));


}
#irARegistro > a:hover{
    color: map-get((com.$Colores), "Blanco");
    text-decoration: underline;
}



.link:hover{
    color: (map-get(com.$Colores,"Blanco"));
    filter: drop-shadow(com.$Brillo-Texto);
}
.link-cat:hover{
    color: (map-get(com.$Colores,"Rojo"));
}

.logo_nombre:hover{
    transform:scale(1.05);
    transition: 0.5s;
}



::placeholder {
    color: (map-get(com.$Colores,"Blanco"));
    opacity: 0.7; 
}


svg:hover{
    color: map-get(com.$Colores,"Blanco");
    filter: drop-shadow(1px 2px 2px (map-get(com.$Colores,"Rojo")));
    transition: 0.3s;
}

#user__header > i:hover{
    color: (map-get(com.$Colores,"Blanco"));
    filter: drop-shadow(com.$Brillo-Texto);
}

.card:not(:last-child) {
    margin-right: 10px;
  }
  
  
  .cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: (map-get(com.$Colores,"RojoSombra"));
  }
  
  .cards::-webkit-scrollbar-track {
    background: (map-get(com.$Colores,"Perla"));
  }

.logs:hover{
    transform: translateY(-7px);
    transition: 0.5s;
    color: (map-get(com.$Colores,"Blanco"));
    filter: drop-shadow(com.$Brillo-Texto);
}